<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>


<form action="#" th:action="@{/student/processForm}" th:object="${student}" method="post">
    First name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last name: <input type="text" th:field="*{lastName}" />
    <br><br>
    Please select your country:
    <select th:field="*{country}">
        <option th:value="'Ukraine'" th:text="Ukraine"></option>
        <option th:value="'Germany'" th:text="Germany"></option>
        <option th:value="'Spain'" th:text="Spain"></option>
    </select>

    <br><br>
    Please select your countryOptions:
    <select th:field="*{countryDropDown}">
        <option th:each="countryOptions : ${student.countryOptions}" th:value="${countryOptions.value}" th:text="${countryOptions.key}"></option>
    </select>

    <br><br>
    <input th:type="submit" th:value="Submit" />
</form>

</body>
</html>