<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Page</title>
</head>
<body>

<span style="font-weight: bolder" >The student is confirmed!</span> <p>
First Name: <span style="color:blue;font-weight:bold" th:text="${student.firstName}" /> <br>
Last Name: <span style="color:blue;font-weight:bold" th:text="${student.lastName}" /> <br>
From: <span style="color:blue;font-weight:bold" th:text="${student.country}" /> <br>
Country drop down: <span style="color:blue;font-weight:bold" th:text="${student.countryDropDown}" /> <br>
Fav Language: <span style="color:blue;font-weight:bold" th:text="${student.favouriteLanguage}" /> <br>
<ul>
    <li th:each="os : ${student.operationSystem}">
        Supported OS: <span style="color:blue;font-weight:bold" th:text="${os}"></span>
    </li>
</ul>

</body>
</html>